/*
* @Author: admin
* @Date:   2017-08-03 21:33:18
* @Last Modified by:   宁
* @Last Modified time: 2017-08-06 22:55:56
*/ 
.logo {
	width: 100%;
	height: 6.67rem;
	background: pink;
	position: relative;
}
.logo img {
	display: block;
	width: 100%;
	height: 6.67rem;
}
.login {
	width: 100%;
	height: 0.66rem;
	background: #ca2e78;
	position: absolute;
	bottom: 0;
	left: 0;
	opacity: 0.8;
}
.login a {
	display:block;
	width: 0.6rem;
	height: 0.14rem;
	margin: 0 auto;
	margin-top: 0.26rem;
	text-align: center;
	line-height: 0.14rem;
	font-size: 0.14rem;
	font-weight: 600;
	color: #fff;
}
.outline {
	width: 100%;
	height: 6.67rem;
	background: #000;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.5;
}
.box {
	width: 100%;
	height: 2.05rem;
	/* background: red; */
	position: absolute;
	top: 0;
	right: 0;
	padding-top: 0.33rem;
	padding-left: 0.19rem;
}
.box a {
	display: block;
	width: 0.16rem;
	height: 0.16rem;
	color: #fff;
	font-size: 0.16rem;
}
.box input {
	display: block;
	width: 2.84rem;
	height: 0.48rem;
	margin-top: 0.12rem;
	border: none;
	border-bottom: 0.02rem solid #646873;
	background-color: transparent;
	margin-left: 0.16rem;
}
.box input:focus{
	outline: none;
	border-bottom: 2px solid #fff;
	color: #fff;
}
