/*
* @Author: admin
* @Date:   2017-08-03 21:33:18
* @Last Modified by:   宁
* @Last Modified time: 2017-08-06 22:57:14
*/
.logo {
	width: 100%;
	height: 6.67rem;
	background: pink;
	position: relative;
}
.logo img {
	display: block;
	width: 100%;
	height: 6.67rem;
}
.login {
	width: 100%;
	height: 0.66rem;
	background: #ca2e78;
	position: absolute;
	bottom: 0.66rem;
	left: 0;
	opacity: 0.8;
}
.login2 {
	width: 100%;
	height: 0.66rem;
	background: #000;
	position: absolute;
	bottom: 0rem;
	left: 0;
	opacity: 0.8;
}
.logo a {
	display:block;
	width: 0.6rem;
	height: 0.14rem;
	margin: 0 auto;
	margin-top: 0.26rem;
	text-align: center;
	line-height: 0.14rem;
	font-size: 0.14rem;
	font-weight: 600;
	color: #fff;
}